<!-- Footer
================================================== -->

<!-- Change to class="container footerwrap full" for a full-width footer -->
<div class="container footerwrap full">

    <div class="footer">
        <div class="sixteen columns">

            <div class="four columns widget alpha">
                <div>
                    <img src="images/bilibilii.png" alt="" class="scale-with-grid" /><br />
                    Responsive Creative Website
                    <div class="threedot"></div>
                    <h3 style="margin-top: -7px;">喜欢我的博客 ?<br /><span class="themecolor">告诉朋友们吧 ！</span></h3>



                    <div class="share-dialog-cont">
                        <div class="share-platform">
                            <div class="share-platform-r">
                                <div class="bdsharebuttonbox">
                                    <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                                    <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                                    <a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a>
                                    <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>



            <div class="four columns clearfix widget">
                <h5></h5>
                <div class="widget_tweets">
                    <ul></ul>
                    <div class="clear"></div>
                </div>
            </div>



            <div class="four columns widget">
                <h5>提出您宝贵的建议</h5>
                <div class="widget_quickcontact">
                    <input type="text" name="name" id="advice_name" class="requiredfield" onfocus="if(this.value == '姓名 *') { this.value = ''; }" onblur="if(this.value == '') { this.value = '姓名 *'; }" value='姓名 *' />
                    <input type="text" name="email" id="advice_email" class="requiredfield" onfocus="if(this.value == '邮箱 *') { this.value = ''; }" onblur="if(this.value == '') { this.value = '邮箱 *'; }" value='邮箱 *' />
                    <textarea name="message" id="advice_message" class="requiredfield" onfocus="if(this.value == '内容 *') { this.value = ''; }" onblur="if(this.value == '') { this.value = '内容 *'; }">内容 *</textarea>
                    <button id="send">发送 <span class="buttonarrow"></span></button>
                    <span id="status" style="display: none">Sending</span>
                </div>
            </div>

            <div class="four columns widget omega">
                <h5>联系方式</h5>
                <div class="widget_text">
                    <strong>工作地址</strong><br />
                    北京八维研修学院<br />
                    软件工程系<br />
                    1504phpA班<br /><br />

                    <strong>如何联系我</strong><br />
                    Email: <a href="javascript:;">837615264@qq.com</a><br />
                    Phone：17600233745<br /><br />

                    <strong>工作时间</strong><br />
                    周一至周五: 09:00 - 21:30<br />
                    周日: 18:30 - 21:30
                </div>
            </div>

        </div>
    </div>
</div><!-- container -->

<!-- Sub-Footer
================================================== -->

<!-- Change to class="container subfooterwrap full" for a full-width subfooter -->
<div class="container subfooterwrap full">

    <div class="subfooter">
        <div class="eight columns siteinfo"><script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1262082571'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s13.cnzz.com/z_stat.php%3Fid%3D1262082571%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script><a href="http://www.miitbeian.gov.cn/" target="_blank">互 联 网 I C P 备 案 ：京 I C P 备 17028959 号</a></div>
        <div class="eight columns sitenav">
            <a href="<?= site_url('Home/Home/index')?>">首页</a>&nbsp; &nbsp; &nbsp;
            <a href="<?= site_url('Home/Article/article_type').'/0/0'?>">学无止境</a>&nbsp; &nbsp; &nbsp;
            <a href="<?= site_url('Home/Collect/collect_list')?>">精品收藏</a>&nbsp; &nbsp; &nbsp;
            <a href="<?= site_url('Home/Mood/mood_list')?>">心情感悟</a>&nbsp; &nbsp; &nbsp;
            <a href="<?= site_url('Home/Game/game_list')?>">轻松时刻</a>
        </div>
    </div>
</div>

<!--在线聊天-->
<div class="main-im">

    <div id="open_im" class="open-im">&nbsp;</div>

    <div class="im_main" id="im_main">
        <div id="close_im" class="close-im"><a href="javascript:void(0);" title="点击关闭">&nbsp;</a></div>
        <a href="http://wpa.qq.com/msgrd?v=3&uin=837615264&site=qq&menu=yes" target="_blank" class="im-qq qq-a" title="在线QQ客服">
            <div class="qq-container"></div>
            <div class="qq-hover-c"><img class="img-qq" src="images/online/qq.png"></div>
            <span> QQ在线聊天</span>
        </a>
        <div class="im-footer" style="position:relative">
            <div class="weixing-container">
                <div class="weixing-show">
                    <div class="weixing-txt">微信扫一扫</div>
                    <img class="weixing-ma" src="images/online/weixing-ma.png">
                    <div class="weixing-sanjiao"></div>
                    <div class="weixing-sanjiao-big"></div>
                </div>
            </div>
            <div class="go-top"><a href="javascript:;" title="返回顶部"></a> </div>
            <div style="clear:both"></div>
        </div>
    </div>

</div>

<div class="backtotop"><div class="btxt">回到顶部</div></div>

<!-- End Document
================================================== -->
</body>
</html>
<!--分享-->
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"RUPAN的个人博客期待您的到来","bdMini":"1","bdMiniList":["bdxc","tqf","douban","bdhome","sqq","thx","ibaidu","meilishuo","mogujie","diandian","huaban","duitang","hx","fx","youdao","sdo","qingbiji","people","xinhua","mail","isohu","yaolan","wealink","ty","iguba","fbook","twi","linkedin","h163","evernotecn","copy","print"],"bdPic":"","bdStyle":"1","bdSize":"32"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
<script>send_url="<?= site_url('Home/Home/send_email')?>"</script>
<script src="js/send.js" type="text/javascript"></script>

