<? $this->load->view('Admin/header.html')?>
<section id="content" class="container">
    <!-- 面包屑 -->
    <ol class="breadcrumb hidden-xs">
        <li><a href="#">主页</a></li>
        <li><a href="#">文章管理</a></li>
        <li class="active">文章修改</li>
    </ol>

    <h4 class="page-title">文章修改</h4>
    <hr class="whiter" />
    <div class="block-area" id="tableStriped">
        <h3 class="block-title">文章标题</h3>
        <input class="form-control m-b-10" placeholder="文章标题" type="text" id="article_title" value="<?= $article_info['article_title']?>">

        <h3 class="block-title">文章分类</h3>

        <select style="display: none;" class="select" id="type_id">
            <? foreach($type as $v):?>
            <? if($article_info['type_id']==$v['type_id']):?>
            <option value="<?=$v['type_id'] ?>" selected><?= str_repeat('&nbsp;&nbsp;',(substr_count($v['newpath'],'-')-1)*4)?><?= $v['type_name']?></option>
            <? else:?>
            <option value="<?=$v['type_id'] ?>"><?= str_repeat('&nbsp;&nbsp;',(substr_count($v['newpath'],'-')-1)*4)?><?= $v['type_name']?></option>
            <? endif;?>
            <? endforeach;?>
        </select>

        <h3 class="block-title">文章展示图片</h3>
        <div class="fileupload fileupload-new" data-provides="fileupload">
            <div class="fileupload-new thumbnail small form-control">
                <? if(empty($article_info['article_image'])):?>
                <img src="<?= base_url().'public/home/default70.png'?>">
                <? else:?>
                <img src="<?= base_url().'public/home/images/article/'.$article_info['article_image']?>">
                <? endif;?>
            </div>
            <div class="fileupload-preview form-control fileupload-exists thumbnail small"></div>
                        <span class="btn btn-file btn-alt btn-sm">
                            <span class="fileupload-new">选择图片</span>
                            <span class="fileupload-exists">换一张</span>
                            <input type="file" id="file"/>
                        </span>
            <a href="#" class="btn-sm btn fileupload-exists" data-dismiss="fileupload">删除</a>
        </div>

        <h3 class="block-title">文章内容</h3>

    </div>
    <div class="block-area" id="text-editor">
        <div class="wysiwye-editor"><?= $article_info['article_content']?></div>

        <h3 class="block-title">文章标签</h3><br>
        <? foreach($tag as $k=>$v):?>
        <? if(in_array($v['tag_id'],$article_info['article_tag'])):?>
        <button class="btn btn-xs check-tag" style="margin-top: 5px" tid="<?= $v['tag_id']?>"><?= $v['tag_name']?></button>
        <? else:?>
        <button class="btn btn-xs btn-alt m-r-5" style="margin-top: 5px" tid="<?= $v['tag_id']?>"><?= $v['tag_name']?></button>
        <? endif;?>
        <? if(($k+1)%5==0):?>
        <?= "<br>"?>
        <? endif;?>
        <? endforeach;?>
        <br><br>

        <input type="hidden" id="article_id" value="<?= $article_info['article_id']?>"/>
        <input value="修改" class="btn" id="btn" type="button">
    </div>





</section>
<!-- Javascript Libraries -->
<!-- jQuery -->
<script src="js/jquery.min.js"></script> <!-- jQuery Library -->
<script src="js/jquery-ui.min.js"></script> <!-- jQuery UI -->

<!-- Bootstrap -->
<script src="js/bootstrap.min.js"></script>

<!--  Form Related -->
<script src="js/validation/validate.min.js"></script> <!-- jQuery Form Validation Library -->
<script src="js/validation/validationEngine.min.js"></script> <!-- jQuery Form Validation Library - requirred with above js -->
<script src="js/select.min.js"></script> <!-- Custom Select -->
<script src="js/chosen.min.js"></script> <!-- Custom Multi Select -->
<script src="js/datetimepicker.min.js"></script> <!-- Date & Time Picker -->
<script src="js/colorpicker.min.js"></script> <!-- Color Picker -->
<script src="js/icheck.js"></script> <!-- Custom Checkbox + Radio -->
<script src="js/autosize.min.js"></script> <!-- Textare autosize -->
<script src="js/toggler.min.js"></script> <!-- Toggler -->
<script src="js/input-mask.min.js"></script> <!-- Input Mask -->
<script src="js/spinner.min.js"></script> <!-- Spinner -->
<script src="js/slider.min.js"></script> <!-- Input Slider -->
<script src="js/fileupload.min.js"></script> <!-- File Upload -->

<!-- Text Editor -->
<script src="js/editor2.min.js"></script> <!-- WYSIWYG Editor -->
<script src="js/markdown.min.js"></script> <!-- Markdown Editor -->

<!-- UX -->
<script src="js/scroll.min.js"></script> <!-- Custom Scrollbar -->

<!-- Other -->
<script src="js/calendar.min.js"></script> <!-- Calendar -->
<script src="js/feeds.min.js"></script> <!-- News Feeds -->


<!-- All JS functions -->
<script src="js/functions.js"></script>

<script type="text/javascript">
    $(document).ready(function(){
        /* Tag Select */
        (function(){
            /* Limited */
            $(".tag-select-limited").chosen({
                max_selected_options: 5
            });

            /* Overflow */
            $('.overflow').niceScroll();
        })();

        /* Input Masking - you can include your own way */
        (function(){
            $('.mask-date').mask('00/00/0000');
            $('.mask-time').mask('00:00:00');
            $('.mask-date_time').mask('00/00/0000 00:00:00');
            $('.mask-cep').mask('00000-000');
            $('.mask-phone').mask('0000-0000');
            $('.mask-phone_with_ddd').mask('(00) 0000-0000');
            $('.mask-phone_us').mask('(000) 000-0000');
            $('.mask-mixed').mask('AAA 000-S0S');
            $('.mask-cpf').mask('000.000.000-00', {reverse: true});
            $('.mask-money').mask('000.000.000.000.000,00', {reverse: true});
            $('.mask-money2').mask("#.##0,00", {reverse: true, maxlength: false});
            $('.mask-ip_address').mask('0ZZ.0ZZ.0ZZ.0ZZ', {translation: {'Z': {pattern: /[0-9]/, optional: true}}});
            $('.mask-ip_address').mask('099.099.099.099');
            $('.mask-percent').mask('##0,00%', {reverse: true});
            $('.mask-credit_card').mask('0000 0000 0000 0000');
        })();

        /* Spinners */
        (function(){
            //Basic
            $('.spinner-1').spinedit();

            //Set Value
            $('.spinner-2').spinedit('setValue', 100);

            //Set Minimum
            $('.spinner-3').spinedit('setMinimum', -10);

            //Set Maximum
            $('.spinner-4').spinedit('setMaxmum', 100);

            //Set Step
            $('.spinner-5').spinedit('setStep', 10);

            //Set Number Of Decimals
            $('.spinner-6').spinedit('setNumberOfDecimals', 2);
        })();
    });
</script>

</body>
</html>
<script>
    $(document).on("click",".m-r-5",function(){
        $(this).removeClass("btn-alt").removeClass("m-r-5").addClass("check-tag")
    })
    $(document).on("click",".check-tag",function(){
        $(this).removeClass("check-tag").addClass("btn-alt").addClass("m-r-5")
    })

    $("#btn").on("click",function(){
        var tags=""
        $(".check-tag").each(function(k,v){
            tags+=","+$(v).attr("tid")
        })
        tags=tags.substring(1)

        var formdata=new FormData()
        var _this=$(this)
        formdata.append('file', $('#file')[0].files[0]);
        formdata.append('article_title',$("#article_title").val())
        formdata.append('type_id',$("#type_id").val())
        formdata.append('article_content',$("#article_content").html())
        formdata.append('article_id',$("#article_id").val())
        formdata.append('article_tag',tags)
        $.ajax({
            url: "<?= site_url('Admin/Article/article_update')?>",
            type: 'POST',
            cache: false,
            data: formdata,
            processData: false,
            contentType: false,
            dataType:"json",
            success:function(msg){
                if(msg.error==1){
                    _this.after('<div class="alert alert-success alert-icon" id="message" style="display: none">'+msg.message+'<i class="icon"></i> </div>')
                    $("#message").show(1000,function(){
                        setTimeout(function(){
                            $("#message").hide(2500,function(){
                                $("#message").remove()
                            })
                        },1000)
                    })
                }else{
                    _this.after('<div class="alert alert-danger alert-icon" id="message">'+msg.message+'<i class="icon"></i> </div>')
                    $("#message").show(1000,function(){
                        setTimeout(function(){
                            $("#message").hide(2500,function(){
                                $("#message").remove()
                            })
                        },1000)
                    })
                }
            }
        })
        //console.log($('#file')[0].files[0])
    })
</script>

