<? $this->load->view('Admin/header.html')?>
<section id="content" class="container">
    <!-- 面包屑 -->
    <ol class="breadcrumb hidden-xs">
        <li><a href="#">主页</a></li>
        <li><a href="#">随笔管理</a></li>
        <li class="active">随笔修改</li>
    </ol>

    <h4 class="page-title">随笔修改</h4>
    <hr class="whiter" />
    <div class="block-area" id="tableStriped">
        <h3 class="block-title">随笔标题</h3>
        <input class="form-control m-b-10" placeholder="文章标题" type="text" id="mood_title" value="<?= $mood_info['mood_title']?>">

        <h3 class="block-title">随笔展示图片</h3>
        <div class="fileupload fileupload-new" data-provides="fileupload">
            <div class="fileupload-new thumbnail small form-control">
                <? if(empty($mood_info['mood_image'])):?>
                <img src="<?= base_url().'public/home/default70.png'?>">
                <? else:?>
                <img src="<?= base_url().'public/home/images/mood/'.$mood_info['mood_image']?>">
                <? endif;?>
            </div>
            <div class="fileupload-preview form-control fileupload-exists thumbnail small"></div>
                        <span class="btn btn-file btn-alt btn-sm">
                            <span class="fileupload-new">选择图片</span>
                            <span class="fileupload-exists">换一张</span>
                            <input type="file" id="file"/>
                        </span>
            <a href="#" class="btn-sm btn fileupload-exists" data-dismiss="fileupload">删除</a>
        </div>

        <h3 class="block-title">随笔内容</h3>

    </div>
    <div class="block-area" id="text-editor">
        <div class="wysiwye-editor"><?= $mood_info['mood_content']?></div>
        <br>
        <input type="hidden" id="mood_id" value="<?= $mood_info['mood_id']?>"/>
        <input value="修改" class="btn" id="btn" type="button">
    </div>





</section>
<!-- Javascript Libraries -->
<!-- jQuery -->
<script src="js/jquery.min.js"></script> <!-- jQuery Library -->
<script src="js/jquery-ui.min.js"></script> <!-- jQuery UI -->

<!-- Bootstrap -->
<script src="js/bootstrap.min.js"></script>

<!--  Form Related -->
<script src="js/validation/validate.min.js"></script> <!-- jQuery Form Validation Library -->
<script src="js/validation/validationEngine.min.js"></script> <!-- jQuery Form Validation Library - requirred with above js -->
<script src="js/select.min.js"></script> <!-- Custom Select -->
<script src="js/chosen.min.js"></script> <!-- Custom Multi Select -->
<script src="js/datetimepicker.min.js"></script> <!-- Date & Time Picker -->
<script src="js/colorpicker.min.js"></script> <!-- Color Picker -->
<script src="js/icheck.js"></script> <!-- Custom Checkbox + Radio -->
<script src="js/autosize.min.js"></script> <!-- Textare autosize -->
<script src="js/toggler.min.js"></script> <!-- Toggler -->
<script src="js/input-mask.min.js"></script> <!-- Input Mask -->
<script src="js/spinner.min.js"></script> <!-- Spinner -->
<script src="js/slider.min.js"></script> <!-- Input Slider -->
<script src="js/fileupload.min.js"></script> <!-- File Upload -->

<!-- Text Editor -->
<script src="js/editor2.min.js"></script> <!-- WYSIWYG Editor -->
<script src="js/markdown.min.js"></script> <!-- Markdown Editor -->

<!-- UX -->
<script src="js/scroll.min.js"></script> <!-- Custom Scrollbar -->

<!-- Other -->
<script src="js/calendar.min.js"></script> <!-- Calendar -->
<script src="js/feeds.min.js"></script> <!-- News Feeds -->


<!-- All JS functions -->
<script src="js/functions.js"></script>

<script type="text/javascript">
    $(document).ready(function(){
        /* Tag Select */
        (function(){
            /* Limited */
            $(".tag-select-limited").chosen({
                max_selected_options: 5
            });

            /* Overflow */
            $('.overflow').niceScroll();
        })();

        /* Input Masking - you can include your own way */
        (function(){
            $('.mask-date').mask('00/00/0000');
            $('.mask-time').mask('00:00:00');
            $('.mask-date_time').mask('00/00/0000 00:00:00');
            $('.mask-cep').mask('00000-000');
            $('.mask-phone').mask('0000-0000');
            $('.mask-phone_with_ddd').mask('(00) 0000-0000');
            $('.mask-phone_us').mask('(000) 000-0000');
            $('.mask-mixed').mask('AAA 000-S0S');
            $('.mask-cpf').mask('000.000.000-00', {reverse: true});
            $('.mask-money').mask('000.000.000.000.000,00', {reverse: true});
            $('.mask-money2').mask("#.##0,00", {reverse: true, maxlength: false});
            $('.mask-ip_address').mask('0ZZ.0ZZ.0ZZ.0ZZ', {translation: {'Z': {pattern: /[0-9]/, optional: true}}});
            $('.mask-ip_address').mask('099.099.099.099');
            $('.mask-percent').mask('##0,00%', {reverse: true});
            $('.mask-credit_card').mask('0000 0000 0000 0000');
        })();

        /* Spinners */
        (function(){
            //Basic
            $('.spinner-1').spinedit();

            //Set Value
            $('.spinner-2').spinedit('setValue', 100);

            //Set Minimum
            $('.spinner-3').spinedit('setMinimum', -10);

            //Set Maximum
            $('.spinner-4').spinedit('setMaxmum', 100);

            //Set Step
            $('.spinner-5').spinedit('setStep', 10);

            //Set Number Of Decimals
            $('.spinner-6').spinedit('setNumberOfDecimals', 2);
        })();
    });
</script>

</body>
</html>
<script>

    $("#btn").on("click",function(){
        var formdata=new FormData()
        var _this=$(this)
        formdata.append('file', $('#file')[0].files[0]);
        formdata.append('mood_title',$("#mood_title").val())
        formdata.append('mood_content',$("#article_content").html())
        formdata.append('mood_id',$("#mood_id").val())
        $.ajax({
            url: "<?= site_url('Admin/Mood/mood_update')?>",
            type: 'POST',
            cache: false,
            data: formdata,
            processData: false,
            contentType: false,
            dataType:"json",
            success:function(msg){
                if(msg.error==1){
                    _this.after('<div class="alert alert-success alert-icon" id="message" style="display: none">'+msg.message+'<i class="icon"></i> </div>')
                    $("#message").show(1000,function(){
                        setTimeout(function(){
                            $("#message").hide(2500,function(){
                                $("#message").remove()
                            })
                        },1000)
                    })
                }else{
                    _this.after('<div class="alert alert-danger alert-icon" id="message">'+msg.message+'<i class="icon"></i> </div>')
                    $("#message").show(1000,function(){
                        setTimeout(function(){
                            $("#message").hide(2500,function(){
                                $("#message").remove()
                            })
                        },1000)
                    })
                }
            }
        })
        //console.log($('#file')[0].files[0])
    })
</script>

